<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="assets/css/reset.css" media="all">
    <link type="text/css" rel="stylesheet" href="assets/css/screen.css" media="all">
    <title>Каталог товаров</title>
</head>
<body>
    <ul class="product-list">
        <li class="product">
            <div class="product__image-block">
                <div class="product__stickers">
                    <div class="product__sticker-advice">Мы советуем</div>
                    <div class="product__sticker-new">Новинка</div>
                </div>
                <a href="#" class="product__photo"><img src="images/content/06188daa7e30c921ac820cd76c81f99e.png" alt="Backen Ponevira" class="product__photo-img"></a>
            </div>
            <div class="product__description">
                <a href="#" class="product__title">Backen Ponevira</a>
                <div class="product__priview-info">Люксовый автомобиль, который сумел объединить в себе несочетаемое: мощность и комфорт, динамику и экономичность, бизнес и поездки с семьей.</div>
                <div class="product__characterictics">
                    <dl class="characteristics">
                        <dt class="characteristics__name">Мощность, л.с</dt>
                        <span class="characteristics__separator">—</span>
                        <dd class="characteristics__value">440</dd>
                    </dl>
                    <dl class="characteristics">
                        <dt class="characteristics__name">Объем двигателя, куб. см.</dt>
                        <span class="characteristics__separator">—</span>
                        <dd class="characteristics__value">2894</dd>
                    </dl>
                    <dl class="characteristics">
                        <dt class="characteristics__name">Разгон до 100 км/ч,</dt>
                        <span class="characteristics__separator">—</span>
                        <dd class="characteristics__value">4.4</dd>
                    </dl>
                </div>
            </div>
            <div class="product__info">
                <div class="product__availability">
                    <div class="product__availability_not-available">Ожидается</div>
                </div>
                <div class="product__cost">
                    <div class="product__current-cost">от 6 218 000 р.</div>
                </div>
                <div class="product__shopping-cart">
                    <div class="product__counter">
                        <a href="#" class="count-btn">
                            <svg xmlns="http://www.w3.org/2000/svg" width="9" height="9" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="product__count-minus"><line x1="5" y1="12" x2="19" y2="12"></line></svg>
                        </a>
                        <div class="product__coutn-value">1</div>
                        <a href="#" class="count-btn">
                            <svg xmlns="http://www.w3.org/2000/svg" width="9" height="9" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="product__count-plus"><line x1="12" y1="5" x2="12" y2="19"></line><line x1="5" y1="12" x2="19" y2="12"></line></svg>
                        </a>
                    </div>
                    <div class="product__cart-action">
                        <a href="#" class="btn">В корзину</a>
                    </div>
                </div>
                <div class="product__additional-info-block">
                    <div class="product__info-icon">
                        <svg xmlns="http://www.w3.org/2000/svg" width="13" height="13" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><circle cx="12" cy="12" r="10"></circle><line x1="12" y1="16" x2="12" y2="12"></line><line x1="12" y1="8" x2="12.01" y2="8"></line></svg>
                    </div>
                    <div class="product__additional-info">Немецкая сборка</div>
                </div>
            </div>
        </li>
        <li class="product">
            <div class="product__image-block">
                <div class="product__stickers">
                    <div class="product__sticker-stock">Акция</div>
                    <div class="product__sticker-advice">Мы советуем</div>
                    <div class="product__sticker-new">Новинка</div>
                    <div class="product__sticker-hit">Хит</div>                   
                </div>
                <a href="#" class="product__photo"><img src="images/content/b733a8118d284c23fddf3bb648321d47.png" alt="Backen Mocen" class="product__photo-img"></a>
            </div>
            <div class="product__description">
                <a href="#" class="product__title">Backen Mocen</a>
                <div class="product__priview-info">Спортивный кроссовер для тех, кто предпочитает быть всегда первым – эффектный вид, полный привод, возвышенная посадка и мощный двигатель.</div>
                <div class="product__characterictics">
                    <dl class="characteristics">
                        <dt class="characteristics__name">Мощность, л.с</dt>
                        <span class="characteristics__separator">—</span>
                        <dd class="characteristics__value">360</dd>
                    </dl>
                    <dl class="characteristics">
                        <dt class="characteristics__name">Объем двигателя, куб. см.</dt>
                        <span class="characteristics__separator">—</span>
                        <dd class="characteristics__value">2997</dd>
                    </dl>
                    <dl class="characteristics">
                        <dt class="characteristics__name">Разгон до 100 км/ч,</dt>
                        <span class="characteristics__separator">—</span>
                        <dd class="characteristics__value">5.2</dd>
                    </dl>
                </div>
            </div>
            <div class="product__info">
                <div class="product__availability">
                    <div class="product__availability_in-stock">В наличии</div>
                </div>
                <div class="product__cost">
                    <div class="product__current-cost">от 5 506 000 р.</div>
                    <div class="product__previous-cost">5 720 000 р.</div>
                </div>
                <div class="product__shopping-cart">
                    <div class="product__counter">
                        <a href="#" class="count-btn">
                            <svg xmlns="http://www.w3.org/2000/svg" width="9" height="9" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="product__count-minus"><line x1="5" y1="12" x2="19" y2="12"></line></svg>
                        </a>
                        <div class="product__coutn-value">1</div>
                        <a href="#" class="count-btn">
                            <svg xmlns="http://www.w3.org/2000/svg" width="9" height="9" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="product__count-plus"><line x1="12" y1="5" x2="12" y2="19"></line><line x1="5" y1="12" x2="19" y2="12"></line></svg>
                        </a>
                    </div>
                    <div class="product__cart-action">
                        <a href="#" class="btn">В корзину</a>
                    </div>
                </div>
                <div class="product__additional-info-block">
                    <div class="product__info-icon">
                        <svg xmlns="http://www.w3.org/2000/svg" width="13" height="13" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><circle cx="12" cy="12" r="10"></circle><line x1="12" y1="16" x2="12" y2="12"></line><line x1="12" y1="8" x2="12.01" y2="8"></line></svg>
                    </div>
                    <div class="product__additional-info">Прямая поставка из Германии</div>
                </div>
            </div>
        </li>
    </ul>
</body>
</html>