/*===============================common styles==============================*/
body {
    color: #777777;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    line-height: 15px;
}
h1 {

}
h2 {

}
h3 {

}
p {

}
a:link,
a:visited,
a:active {
    text-decoration: none;
}
a:hover {
    color: #2b7de0;
    text-decoration: none;
}
img {
    max-width:100%;
}
a.btn{
    background-color: #2b7de0;
    border: solid 0.5px;
    border-radius: 2px;
    border-color: #2b7de0;
    color: #ffffff;
    font-size: 9px;
    margin: 2px 0 0 0;
    padding: 9px 45px 10px;
    text-transform: uppercase;
}
@media (max-width: 480px){
    a.btn{
        font-size: 12px;
        margin: 10px 0 0 0;
        padding: 13px 58px 12px;
    }
}
a.btn:hover {
    background-color: #4289e0;
    border-color: #4289e0;
}

/*===============================product list==============================*/
/*------------------------------product item-----------------------------------*/

.product-list {

}
.product {
    align-items: flex-start;
    box-sizing: border-box;
    display: flex;
    padding: 25px 26px 26px 25px;
    width: 720px;
}
@media (max-width: 480px){
    .product{
        display: block;
        padding: 25px 26px 46px 25px;
        width: 480px;
    }
}
/*------------------------------image block-----------------------------------*/
.product__image-block {

}
.product__stickers {
    color: #ffffff;
    display: flex;
    flex-wrap: wrap;
    font-size: 9px;
    width: 115px;
    position: absolute;
}
@media (max-width: 480px){
    .product__stickers{
        font-size: 12px;
        width: 378px;
    }
}
.product__sticker-stock {
    background-color: #f7d33b;
    border: solid 0.5px;
    border-radius: 2px;
    border-color: #f7d33b;
    color: #333333;
    margin: 0 1px 1px 0;
    padding: 2px 5px 3px 5px;
    position: relative;
}
@media (max-width: 480px){
    .product__sticker-stock{
        padding: 9px 9px 8px 9px;
    }
}
.product__sticker-advice {
    background-color: #7558cd;
    border: solid 0.5px;
    border-radius: 2px;
    border-color: #7558cd;
    margin: 0 1px 1px 0;
    padding: 2px 7px 3px 5px;
    position: relative;
}
@media (max-width: 480px){
    .product__sticker-advice{
        padding: 9px 9px 8px 9px;
    }
}
.product__sticker-new {
    background-color: #62c34b;
    border: solid 0.5px;
    border-radius: 2px;
    border-color: #62c34b;
    margin: 0 1px 1px 0;
    padding: 2px 7px 3px 5px;
    position: relative;
}
@media (max-width: 480px){
    .product__sticker-new{
        padding: 9px 9px 8px 9px;
    }
}
.product__sticker-hit {
    background-color: #e74650;
    border: solid 0.5px;
    border-radius: 2px;
    border-color: #e74650;
    margin: 0 1px 1px 0;
    padding: 2px 7px 3px 5px;
    position: relative;
}
@media (max-width: 480px){
    .product__sticker-hit{
        padding: 9px 9px 8px 9px;
    }
}
.product__photo {
    display: block;
    flex: none;
}
.product__photo-img {
    display: block;
    width: 115px;
}
@media (max-width: 480px){
    .product__photo-img{
        width: 378px;
    }
}
/*------------------------------short decription block-----------------------------------*/
.product__description {
    padding: 0 0 0 27px;
    width: 349px;
}
@media (max-width: 480px){
    .product__description{
        padding: 33px 0 40px 0;
        width: 378px;
    }
}
.product__title {
    color: #333333;
    font-size: 12px;
}
@media (max-width: 480px){
    .product__title{
        font-size: 16px;
    }
}
.product__priview-info {
    font-size: 10px;
    padding: 18px 0 26px 0;
}
@media (max-width: 480px){
    .product__priview-info{
        font-size: 13px;
        padding: 30px 0 32px;
    }
}
.product__characterictics {

}
.characteristics {
    display: flex;
    font-size: 10px;
}
@media (max-width: 480px){
    .characteristics{
        font-size: 13px;
    }
}
.characteristics__name {
}
.characteristics__value {
    color: #333333;
}
.characteristics__separator{
    padding: 0 6px 0 6px;
}
/*------------------------------important info-----------------------------------*/
.product__info {
    padding: 0 0 0 65px;
    width: 204px;
}
@media (max-width: 480px){
    .product__info{
        padding: 0;
        width: 193px;
    }
}
.product__availability {
    font-size: 8px;
    text-transform: uppercase;
}
@media (max-width: 480px){
    .product__availability{
        font-size: 11px;
    }
}
.product__availability_in-stock{
    color: #5fa800;
}
.product__availability_not-available{
    color: #f28c29;
}
/*------------------------------cost-----------------------------------*/
.product__cost {

}
.product__current-cost {
    color: #333333;
    font-size: 13px;
    font-weight: 700;
    margin: 15px 0 0 0;
}
@media (max-width: 480px){
    .product__current-cost{
        font-size: 17px;
        margin: 24px 0 0 0;
    }
}
.product__previous-cost {
    font-size: 10px;
    margin: 10px 0 0 0;
    text-decoration: line-through;
}
@media (max-width: 480px){
    .product__previous-cost{
        font-size: 13px;
        margin: 15px 0 0 0;
    }
}
/*------------------------------add to cart-----------------------------------*/
.product__shopping-cart{
    width: 204px;
}
@media (max-width: 480px){
    .product__shopping-cart{
        width: 193px;
    }
}
.product__counter {
    background-color: #f8f9fb;
    border: solid 0.5px;
    border-radius: 2px;
    border-color: #f0f0f1;
    display: flex;
    margin: 17px 0 10px 0;
    max-width: 139px;
    padding: 8px 0px 9px 7px;
}
@media (max-width: 480px){
    .product__counter{
        margin: 23px 0 15px 0;
        max-width: 193px;
        padding: 11px 0 11px 10px;
    }
}
.product__coutn-value {
    color: #777777;
    font-size: 9px;
}
@media (max-width: 480px){
    .product__coutn-value{
        font-size: 13px;
    }
}
.product__count-plus{
    padding: 0 0 0 52px;
}
@media (max-width: 480px){
    .product__count-plus{
        padding: 0 0 0 71px;
    }
}
.product__count-minus{
    padding: 0 53px 0 0;
}
@media (max-width: 480px){
    .product__count-minus{
        padding: 0 72px 0 0;
    }
}
.product__cart-action {
}
/*------------------------------additional info-----------------------------------*/
.product__additional-info-block {
    display: flex;
    max-width: 139px;
    padding: 12px 0 0 0;
}
@media (max-width: 480px){
    .product__additional-info-block{
        max-width: 215px;
        margin: 14px 0 0 0;
    }
}
.product__info-icon {
    padding: 0 5px 0 0;
}
@media (max-width: 480px){
    .product__info-icon{
        padding: 0 10px 0 0;
    }
}
.product__additional-info {
    color: #777777;
    font-size: 9px;
}
@media (max-width: 480px){
    .product__additional-info{
        font-size: 12px;
    }
}
